[Unit]
Description=knatd kernel port forwarding
Documentation=https://github.com/okteam99/knatd
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/knatd reload
ExecReload=/usr/local/sbin/knatd reload
ExecStop=/usr/local/sbin/knatd clear

[Install]
WantedBy=multi-user.target
