[Unit]
Description=knatd kernel port forwarding
Documentation=https://github.com/okai99/knatd
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/knatd --enable-ip-forward apply
ExecReload=/usr/local/sbin/knatd --enable-ip-forward apply
ExecStop=/usr/local/sbin/knatd clear

[Install]
WantedBy=multi-user.target
